.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  box-shadow: 0 0 5px #00000030;
  border-radius: 10px;
	gap: 10px;
  .info {
		display: flex;
		flex-direction: column;
		gap: 10px;

    .label{
      display: flex;
      gap: 10px;
      b{
        user-select: none;
      }
      p{
        user-select: all;
      }
    }
  }
  .icons {
    display: flex;
    gap: 10px;
    svg {
      cursor: pointer;
    }
  }
}
