.controllers {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 340px;
  z-index: 20;
  background-color: #fff;
  box-shadow: 0 0 10px #00000030;
  padding: 25px 20px;
  border-radius: 20px;
  .title {
    font-size: 21px;
    margin-bottom: 15px;
    user-select: none;
  }
}
