* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.item {
  position: relative;
  left: 10px;
  font-size: 10px;
  display: flex;
  gap: 10px;
}
input {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 3px 4px;
}
